<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="weixin.pea.pojo.UserMapper">
	<select id="userLogin" parameterType="weixin.pea.pojo.User" resultType="weixin.pea.pojo.User">
		select * from user where userId= #{userId} and userPassword=#{userPassword}
	</select>
	<select id="getUser" parameterType="java.lang.Integer" resultType="weixin.pea.pojo.User">
		select * from user where userId= #{userId}
	</select>
	<insert id="userRegister"	parameterType="weixin.pea.pojo.User" >
		insert into user (userId,userName,userPassword,userSex,userInfo,userAdress) values (#{userId},#{userName},#{userPassword},#{userSex},#{userInfo},#{userAdress})
	</insert>
	<update id="updateInfo" parameterType="weixin.pea.pojo.User">
		update user set userName=#{userName},userSex=#{userSex},userInfo=#{userInfo} where userId=#{userId}
	</update>
	<!-- 
	<delete id="deleteStudent"	parameterType="com.chokPeng.ssmLearning.pojo.Student" >
		delete from student where studentId=#{studentId}
	</delete>

	-->
	<select id="getMovie" parameterType="weixin.pea.pojo.Movie" resultType="weixin.pea.pojo.Movie">
		select * from movieDetail where movieName=#{movieName}
	</select> 
</mapper>