<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="weixin.pea.pojo.UserMapper">
	<select id="userLogin" parameterType="weixin.pea.pojo.User" resultType="weixin.pea.pojo.User">
		select * from user where userId= #{userId} and userPassword=#{userPassword}
	</select>
	<select id="queryUser" parameterType="weixin.pea.pojo.User" resultType="weixin.pea.pojo.User">
		select * from user where userId= #{userId}
	</select>
	<insert id="userRegister"	parameterType="weixin.pea.pojo.User"  >
		insert into user (userId,userName,userPassword) values (#{userId},#{userName},#{userPassword})
	</insert>
	<update id="updateUserInfo" parameterType="weixin.pea.pojo.User" >
		update user set userName=#{userName},userPassword=#{userPassword},userSex=#{userSex},userInfo=#{userInfo},userAddress=#{userAddress} where userId=#{userId}
	</update>
	<insert id="postComment" parameterType="weixin.pea.pojo.Comment">
		insert into movieComments (movieName,userId,userName,commentContent,commentDate) values (#{movieName},#{userId},#{userName},#{commentContent},#{commentDate})
	</insert>
	<!-- 添加电影 -->
	<insert id="addMovie" parameterType="weixin.pea.pojo.Movie">
		insert into Movie (movieId,movieName,movieInfo,actor,releaseDate) values (#{movieId},#{movieName},#{actor},#{releaseDate})
	</insert>
	<!-- 修改电影信息 -->
	<update id="updateMovie" parameterType="weixin.pea.pojo.Movie">
		update movieDetail set movieName=#{movieName},releaseDate=#{releaseDate},actor=#{actor},movieInfo=#{movieInfo} where movieId=#{movieId}
	</update>
	<!-- 查询电影信息 -->
	<select id="queryMovie" parameterType="weixin.pea.pojo.Movie" resultType="weixin.pea.pojo.Movie">
		select * from movieDetail where movieName like concat(concat('%',#{movieName}),'%')
	</select> 
	<!-- 存储用户上传的图片文件的绝对路径 -->
	<update id="storeFilePath" parameterType="weixin.pea.pojo.User">
		update user set userAvatar=#{userAvatar} where userId=#{userId}
	</update>
	<!-- 根据电影名查询电影的评论 -->
	<select id="queryComments" parameterType="weixin.pea.pojo.Comment" resultType="weixin.pea.pojo.Comment">
		select * from movieComments,user where movieName=#{movieName} and user.userId=movieComments.userId
	</select>
</mapper>